/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#logo{
	color: #003363;
	font-family: Montserrat;
	font-size: 24px !important;
	font-style: normal !important;
	font-weight: 900 !important;
	line-height: 24px; /
}

nav a{
	color: #004E84;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 150% */
}

/* ------------------ */

#title{
/*	width: 1520px;*/
	color: var(--gs-brand-white, #FFF);
	text-align: center;
	font-family: Montserrat;
	font-size: 68px;
	font-style: normal;
	font-weight: 700;
	line-height: 84px; /* 123.529% */
}

#base{

	border-radius: 2px;
	background: #12C6FF;
	padding: 8px 24px;

	color: #FFF;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
	line-height: 24px;
}

#landing {

	background: 
		linear-gradient(
			rgba(0, 34, 65, 0.61),
			rgba(0, 34, 65, 0.61)

		),
		url("images/landing.png");
		background-repeat: no-repeat;
		background-size: cover;;

}

/* about ---------------- */

#about {
	background: #003363;
}



#text-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	/* identical to box height, or 133% */


	color: #12C6FF;

}

#about p {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */


	color: #FFFFFF;

}


